body{
    /* background-image: linear-gradient(#6a040f,#370617,#03071e); */
    background-image: linear-gradient(#264653,#2a9d8f,#03071e);

}
/* Navigation (Header) */
.navbar-dark {
    font-size: 22px;
    color: #fdfdfd !important ;
   }
   
   .navbar-dark :hover {
       color: #2335e8 !important;
   }
   /* End of header */

   /* Form */
.form{
    
}

   /* end of form */
